:root {
	--main-text-color: #000000;
	--main-second-text-color: #666666;
	--main-bg-color: #f3f3f3;
	--main-second-bg-color: #ffffff;
    --image-bg-color: #cbcbcb;
    --button-first-bg-color: #ffa500;
    --button-second-bg-color: #00bfff;
    --button-third-bg-color: #32c332;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;      /* Set base font size */
    line-height: 1.0;     /* Optional: improves readability */
	color: var(--main-text-color);
	background-color: var(--main-bg-color);
}

.img-grayscale {
  filter: grayscale(1);
}
.text-color{
    color: var(--main-text-color) !important;
}
.text-second-color{
    color: var(--main-second-text-color) !important;
}
.progress-bar-bg-color{
    background-color: var(--main-second-text-color) !important;
}
.fw-5{
    font-weight: 500 !important;
}
.page-title{
    font-size: 5cap;
    font-weight: 700;
}
.my-btn{
    color: var(--main-text-color) !important;
}
.my-btn:hover{
    color: var(--main-second-text-color) !important;
    background-color: var(--main-second-bg-color) !important;
}



/* About Me page */
.about-me .profile-image{
    height: 300px;
    width: 300px;
}
.about-me .title-size{
    font-size: 7cap;
    font-weight: 900;
}
.about-me .sub-title-size{
    font-size: 2cap;
    font-weight: 600;
}
.about-me .profile-image-bg{
    background-color: var(--image-bg-color);
}
.about-me .about-button{
    height: 120px;
    width: 120px;
    border: 1px solid var(--main-text-color);
    font-size: 18px;
    font-weight: 600;
}
.about-me .about-button:nth-child(1) {
  background-color: var(--button-first-bg-color);
}
.about-me .about-button:nth-child(2) {
  background-color: var(--button-second-bg-color);
}
.about-me .about-button:nth-child(3) {
  background-color: var(--button-third-bg-color);
}
.about-me .about-button:hover {
    background-color: var(--main-bg-color);
}

/* Resume page */

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .about-me .profile-image{
        height: 425px;
        width: 425px;
    }
    .about-me .about-box-margin{
        margin-top: 80px !important;
        margin-bottom: 80px !important;
    }
}
/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
    .about-me .profile-image{
        height: 400px;
        width: 400px;
    }
}
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .about-me .about-box-margin{
        margin-top: 100px !important;
        margin-bottom: 100px !important;
    }
}
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .about-me .profile-image{
        height: 375px;
        width: 375px;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .about-me .about-box-margin{
        margin-top: 100px !important;
        margin-bottom: 100px !important;
    }
}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .about-me .profile-image{
        height: 375px;
        width: 375px;
    }
    .about-me .title-size{
        font-size: 6cap;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .about-me .profile-image{
        height: 325px;
        width: 325px;
    }
    .about-me .about-button{
        height: 120px;
        width: 120px;
        font-size: 16px;
        font-weight: 700;
    }
    .page-title{
        font-size: 4cap;
        font-weight: 600;
    }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}
/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .about-me .profile-image{
        height: 300px;
        width: 300px;
    }
    .about-me .title-size{
        font-size: 5cap;
    }
    .about-me .about-button{
        height: 100px;
        width: 100px;
        font-size: 14px;
        font-weight: 700;
    }
}
@media (max-width: 399.98px) {
    .about-me .profile-image{
        height: 250px;
        width: 250px;
    }
    .about-me .about-button{
        height: 70px;
        width: 70px;
        font-size: 12px;
        font-weight: 700;
    }
}

/* animation start */
.reveal {
  opacity: 0;
  transition: all 0.6s ease-out;
}

.reveal.from-right {
  transform: translateX(50px);
}

.reveal.from-right.show {
  opacity: 1;
  transform: translateX(0);
}

.reveal.from-left {
  transform: translateX(-50px);
}

.reveal.from-left.show {
  opacity: 1;
  transform: translateX(0);
}

.reveal.from-bottom {
  transform: translateY(50px);
}

.reveal.from-bottom.show {
  opacity: 1;
  transform: translateY(0);
}

.reveal.from-top {
  transform: translateY(-50px);
}

.reveal.from-top.show {
  opacity: 1;
  transform: translateY(0);
}

.reveal.show {
  opacity: 1;
  transform: translateY(0);
}